.searchBar {
    display: flex;
    position: relative;
    flex-direction: row;
    padding-left: 4rem;
    padding-right: 4rem;
    right: 6rem;
    top: 4.5rem;
}

.searchButton {
    border-radius: 15px;
    cursor: pointer;
    font-family: OCR-A BT;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-left: 4rem;
    margin-bottom: 1.5rem;
 }

 .searchButton:hover {
   background-color: greenyellow;
   transform: scale(1.2);
   transition: 0.3s;

 }

 .input {
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-right: 1.5rem;
   margin-bottom: 1.5rem;  
   border-radius: 35px;
   width: 15rem;
   cursor: text;
}